<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="academic-training">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Formación Académica</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="work-experience">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Experiencia Laboral</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
