<ion-card [color]="color" class="ion-padding">
  <ion-avatar>
    <ion-img id="profile_picture" alt="Foto de Perfil" src="/assets/img/avatar.jpg"></ion-img>
  </ion-avatar>
  <ion-card-header>
    <ion-card-subtitle>Pequeña descripción sobre mi</ion-card-subtitle>
    <ion-card-title>Marcos Caballero Fernández</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Ingeniero en Desarrollo y Gestión de Software, con experiencia como desarrollador de software en busca de
    oportunidades para trabajar en las áreas de desarrollo de software back end y front end.
    Excelente habilidad de comunicación escrita y capaz de administrar, diseñar, desarrollar, controlar y
    solucionar planes, proyectos y problemas, así como tener un gran desempeño que me permita desarrollarme de
    manera profesional y personal.
  </ion-card-content>
</ion-card>
