<app-header title="Perfil" color="tertiary"></app-header>

<ion-content [fullscreen]="true" color="primary" class="ion-padding">
  <app-header-ios title="Perfil"></app-header-ios>

  <app-about-me-card color="secondary"></app-about-me-card>
  <app-contact-card color="secondary"></app-contact-card>
  <app-aptitudes-card color="secondary"></app-aptitudes-card>
  <app-languages-card color="secondary"></app-languages-card>
  <app-technologies-programming-languages-card color="secondary"></app-technologies-programming-languages-card>
</ion-content>
