<app-header title="Experiencia Laboral" color="tertiary"></app-header>

<ion-content [fullscreen]="true" color="primary" class="cv-content ion-padding">
  <app-header-ios title="Experiencia Laboral"></app-header-ios>

  <div class="cv-wrapper">
    <div class="experience-grid">
      <ion-card color="secondary" class="work-card ion-padding" *ngFor="let work of works">
        <div class="work-logo">
          <img [src]="work.companyLogo" [alt]="work.companyName" />
        </div>
        <ion-card-content>
          <span class="work-dates">{{ work.location }} - {{ work.startDate }} a {{ work.endDate }}</span>
          <ion-card-title>{{ work.companyName }}</ion-card-title>
          <p class="work-role">{{ work.position }}</p>
          <ul class="work-description">
            <li *ngFor="let description of work.description">{{ description }}</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
